@tailwind base;
@tailwind components;
@tailwind utilities;

body{
font-family: 'IBM Plex Mono', monospace;
}

.home-img{
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}


.example-container div {
    width: 0;
	height: 0;
	border-left: 25x solid transparent;
	border-right: 25px solid transparent;
	border-bottom:50px solid #555;
  }
